main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  position: relative;
  transform: scale(10);
  transition: all 0.5s;
}
.dot,
.food {
  position: absolute;
  width: 1px;
  height: 1px;
  animation: spawn 1s;
  transition: all 0.5s;
}

.dot {
  background-color: blue;
}
.food {
  background-color: lightgreen;
}
/*
.dot::after {
  content: attr(data-hungry);
}
.food::after {
  content: attr(data-satiety);
}
*/
[data-satiety^='1'] {
  background-color: green;
}

[data-satiety^='-'] {
  background-color: lightpink;
}
[data-hungry^='2'] {
  background-color: rgb(140, 0, 255);
}

[data-hungry^='1'] {
  background-color: rgb(182, 33, 150);
}
[data-hungry^='0'],
[data-hungry^='-'] {
  background-color: rgb(255, 0, 0);
}
[show-parametrs='true']::after {
  position: absolute;
  content: attr(data-hungry);
}

@keyframes spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
